html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
    font-size: 0.9375em;
    line-height: 1.65em;
    background: #ffffff;
    color: #222222;
    margin: 0;
    padding: 0;
}
#bg {
    position:fixed;
    top:-50%;
    left:-50%;
    width:200%;
    height:200%;
    z-index: -999;
}
#bg img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    min-width:50%;
    min-height:50%;
}
.blur {
    -webkit-filter: blur(4px);
    -webkit-transition-property: -webkit-filter;
    -webkit-transition-duration: .4s;
}
.lang {
    font-size: 12px;
    color: white;
    display: inline;
    padding: 5px 10px;
    background-color: #ff054b;
    margin: 0;
}
.lang a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
    padding: 3px;

}
.lang a:hover {
    text-decoration: none;
    background-color: #bb0544;
    padding: 1px 3px;
}
.wrap {
    width: 90%;
    margin: 0 auto;
    padding: 0;
}
.top-nav {
    width: 50%;
    margin: 0 auto;
    background-image: url("../img/bt.png");
    text-align: center;
    /*padding: 0;*/
}
.top-nav-cont {
    /*padding: 10px;*/
    color: #ffffff;
}
.top-nav-cont a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
    padding: 3px 10px;
}
.top-nav-cont a:hover {
    background-color: #ff054b;
    padding: 3px 10px;
}
#mask {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
    opacity: .1;
}
.window {
    position:absolute;
    left:0;
    top:0;
    width:70%;
    height:auto;
    display:none;
    z-index:9999;
    /*padding:20px;*/
    background-color: #ffffff;
    margin: 1% auto;
}
.m_close {
 /*border-bottom: 1px solid #e0e3e5;*/
    text-align: right;
    font-size: 120%;
    padding: 5px 5px;
}
.m_close a {
    color: #b3b4b5;
    text-decoration: none;
}
.m_content {
    padding: 5px 25px;
}
.logo {
    margin-top: 50px;
    text-align: center;
}
.w {
    width: auto;
    padding: 25px;
    margin: 25px 20%;
    /*background-color: #ffffff;*/
    background-image: url("../img/bt.png");
}
.btn {


}
#footer {
    margin-top: 4.949999999999999em;
    padding: 25px 0 80px 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
/*.modal {*/
    /*font-size: 12px;*/
    /*color: #222222;*/
/*}*/
.date {
    width: 80px;
    height: auto;
    /*background-color: #ffe4e9;*/
    color: #ff054b;
    float: left;
    padding: 10px 5px;
    text-align: center;
    margin: 0 15px 15px 0;
    border-top: 10px solid #ff054b;
    border-left: 1px solid #ff054b;
    border-right: 1px solid #ff054b;
    border-bottom: 1px solid #ff054b;
}
.chislo {
    font-weight: bold;
    font-size: 180%;
}
