body {
    background-color: #888888;
}
#header {
    padding: 10px 0 0 0;
    margin-bottom: 25px;
    /*background: #de2c3b;*/
}
.wrap {
    margin: auto;
    max-width: 1200px;
    padding: 0 20px;
}
.left{
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.lang {
    font-size: 12px;
    color: white;
}
.lang a {
    color: #ffffff;
}
.lang a:hover {
    text-decoration: none;
}
img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
}
#navbar-top {
    background-color: #ffffff;
    padding: 15px 20px 15px 20px;
}
.navigation-toggle {
    background-color: transparent;
}
.logo {
    margin-top: 50px;
}
.w {
    width: 300px;
    padding: 15px;
    margin: 25px auto;
    background-color: #ffffff;
}
#footer {
    margin-top: 4.949999999999999em;
    padding: 25px 0 80px 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.60);
}
