<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HERO gs</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/foo.css"/>

</head>
<body>
<div id="bg">
    <img src="img/back2.jpg" alt="">
</div>
<!--<div id ="index"></div>-->

<div id="fixed">
    <div class="top-nav">
        <div class="top-nav-cont">
            <a href="#" onclick="modal('about')"><%= _lng("О проекте") %></a> | <a href="#" onclick="modal('news')"><%= _lng("Новости") %></a> | <a href="#" onclick="modal('partners')"><%= _lng("Партнеры") %></a>
        </div>
    </div>
    <div class="lang">
        <a id = "lang_sel_ru" href=""><%= _lng("РУС") %></a>&nbsp;&nbsp;<i class="fa fa-refresh"></i>&nbsp;&nbsp;<a id = "lang_sel_en" href=""><%= _lng("АНГ") %></a>
    </div>
</div>
<div class="wrap">
    <div class="subnav">
        dkgakshjkj kasjhklsahjslka aksgjkasjg askjgklasd
    </div>
    <p>Те, кому когда-либо приходилось делать в квартире ремонт, наверное, обращали внимание на старые газеты, наклеенные под обоями. Как правило, пока все статьи не перечитаешь, ничего другого делать не можешь. Интересно же — обрывки текста, чья-то жизнь... Так же и с рыбой. Пока заказчик не прочтет всё, он не успокоится. Бывали случаи, когда дизайн принимался именно из-за рыбного текста, который, разумеется, никакого отношения к работе не имел.</p>
    <p>Принцип восприятия непредвзято создает паллиативный интеллект, условно. Концепция ментально оспособляет закон внешнего мира. Сомнение раскладывает на элементы неоднозначный структурализм. Смысл жизни профанирует принцип восприятия, отрицая очевидное. Жизнь философски ассоциирует напряженный постмодернизм. Объект деятельности означает конфликт. Согласно предыдущему, конфликт, в рамках сегодняшних воззрений, ясен не всем.</p>
</div>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>-->
<script src="js/foo.js"></script>
<script src="js/ejs.js"></script>
<script src="js/hgs_func.js"></script>
<script src="js/jquery.validationEngine.js"></script>
<script src="js/jquery.validationEngine-ru.js"></script>
<script src="js/validator.min.js"></script>
<script src="js/jsencrypt.min.js"></script>
<script src="js/index/index.js"></script>
<script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>

</body>
</html>