<button class="uk-button-primary uk-button-large uk-width-1-1" type="button" onclick="genpers();">Создать нового героя</button>
</br>
</br>
<ul class="uk-list">
    <li>
        <div class="uk-grid">
            <div class="uk-width-1-1" align="center">Ваши герои:</div>
        </div>
    </li>
    </br>
    </br>
    <li>
        <button class="uk-button uk-width-1-1" type="button">Играть героем Герой 1</button>
        <div class="uk-grid">
            <div class="uk-width-4-10" align="center">Раса</div>
            <div class="uk-width-3-10" align="center">Класс</div>
            <div class="uk-width-3-10" align="center">Уровень</div>
            <div class="uk-width-4-10" align="center">Светлый эльф</div>
            <div class="uk-width-3-10" align="center">Охотник</div>
            <div class="uk-width-3-10" align="center">6</div>
        </div>
        <button class="uk-button uk-width-1-1" type="button">Продать героя</button>
    </li>
    </br>
    </br>
    <li>
        <button class="uk-button uk-width-1-1" type="button">Играть героем Герой 2</button>
        <div class="uk-grid">
            <div class="uk-width-4-10" align="center">Раса</div>
            <div class="uk-width-3-10" align="center">Класс</div>
            <div class="uk-width-3-10" align="center">Уровень</div>
            <div class="uk-width-4-10" align="center">Гном</div>
            <div class="uk-width-3-10" align="center">Воин</div>
            <div class="uk-width-3-10" align="center">8</div>
        </div>
        <button class="uk-button uk-width-1-1" type="button">Продать героя</button>
    </li>
    </br>
    </br>
    <li>
        <button class="uk-button uk-width-1-1" type="button">Играть героем Герой 3</button>
        <div class="uk-grid">
            <div class="uk-width-4-10" align="center">Раса</div>
            <div class="uk-width-3-10" align="center">Класс</div>
            <div class="uk-width-3-10" align="center">Уровень</div>
            <div class="uk-width-4-10" align="center">Человек</div>
            <div class="uk-width-3-10" align="center">Лекарь</div>
            <div class="uk-width-3-10" align="center">5</div>
        </div>
        <button class="uk-button uk-width-1-1" type="button">Продать героя</button>
    </li>
</ul>