<button class="uk-button-primary uk-button-large uk-width-1-1" type="button">Создать героя</button>
</br>
</br>
</br>
<ul class="uk-list">
    <li>
        <div class="uk-grid">
            <div class="uk-width-4-10" align="center">Имя героя</div>
            <div class="uk-width-2-10 uk-align-center" align="center">Раса</div>
            <div class="uk-width-2-10 uk-align-center" align="center">Уровень</div>
        </div>
    </li>
    <li>
        <div class="uk-grid">
            <div class="uk-width-4-10">Герой 1</div>
            <div class="uk-width-2-10" align="center">Светлый эльф</div>
            <div class="uk-width-2-10" align="center">6</div>
            <div class="uk-width-1-10" align="center"><button class="uk-button uk-button-mini" type="button">Продать</button></div>
            <div class="uk-width-1-10" align="center"><button class="uk-button uk-button-mini" type="button">Удалить</button></div>
        </div>
    </li>
    <li>
        <div class="uk-grid">
            <div class="uk-width-4-10">Герой 2</div>
            <div class="uk-width-2-10" align="center">Дварф</div>
            <div class="uk-width-2-10" align="center">6</div>
            <div class="uk-width-1-10" align="center"><button class="uk-button uk-button-mini" type="button">Продать</button></div>
            <div class="uk-width-1-10" align="center"><button class="uk-button uk-button-mini" type="button">Удалить</button></div>
        </div>
    </li>
    <li>
        <div class="uk-grid">
            <div class="uk-width-4-10">Герой 3</div>
            <div class="uk-width-2-10" align="center">Тёмный эльф</div>
            <div class="uk-width-2-10" align="center">6</div>
            <div class="uk-width-1-10" align="center"><button class="uk-button uk-button-mini" type="button">Продать</button></div>
            <div class="uk-width-1-10" align="center"><button class="uk-button uk-button-mini" type="button">Удалить</button></div>
        </div>
    </li>

</ul>