<div id="vPodrace"></div>


<ul class="uk-dotnav uk-text-center">
        <li data-uk-slideshow-item="0"><a href="#" onclick="viewPodRace(10)">Item 1</a></li>
        <li data-uk-slideshow-item="1"><a href="#" onclick="viewPodRace(11)">Item 2</a></li>
        <li data-uk-slideshow-item="2"><a href="#" onclick="viewPodRace(12)">Item 3</a></li>
        <li data-uk-slideshow-item="3"><a href="#" onclick="viewPodRace(13)">Item 4</a></li>
        <li data-uk-slideshow-item="4"><a href="#" onclick="viewPodRace(14)">Item 5</a></li>
        <li data-uk-slideshow-item="5"><a href="#" onclick="viewPodRace(15)">Item 6</a></li>
        <li data-uk-slideshow-item="6"><a href="#" onclick="viewPodRace(16)">Item 7</a></li>
</ul>