<div id="vPodrace"></div>


<ul class="uk-dotnav uk-text-center">
        <li data-uk-slideshow-item="0"><a href="#" onclick="viewPodRace(20)">Item 1</a></li>
        <li data-uk-slideshow-item="1"><a href="#" onclick="viewPodRace(21)">Item 2</a></li>
        <li data-uk-slideshow-item="2"><a href="#" onclick="viewPodRace(22)">Item 3</a></li>
        <li data-uk-slideshow-item="3"><a href="#" onclick="viewPodRace(23)">Item 4</a></li>
        <li data-uk-slideshow-item="4"><a href="#" onclick="viewPodRace(24)">Item 5</a></li>
        <li data-uk-slideshow-item="5"><a href="#" onclick="viewPodRace(25)">Item 6</a></li>
        <li data-uk-slideshow-item="6"><a href="#" onclick="viewPodRace(26)">Item 7</a></li>
</ul>