<img src="/img/races/subRace/hobbitWood.jpg" alt="">
    <div>
        <h3>Лесные хоббиты</h3>
        <p>Эльфы, несколько ниже и стройнее обычных людей. Хотя они и кажутся хрупкими
            и слабыми, представители этой расы проворны и сильны. Отличаются ксенофобией по отношению к другим расам.
            Эльфы имеют <b>+1 к Ловкости</b> и <b>-1 к Телосложению</b></p>
        <button class="uk-button uk-button-primary">Выбрать</button>
    </div>