<img src="/img/races/subRace/humanCimmer.jpg" alt="">

    <div>
        <h3>Киммерия</h3>
        <p>Герой - человек не имеет физических модификаторов.<br> <b>Под началом героя-человека в армии спокойно уживаются существа
                различных раc без штрафов морали</b></p>
        <!--                            <button class="uk-button uk-button-primary">Выбрать</button> -->
    </div>