<div id="vPol" class="uk-display-block">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            Как известно, женщины намного осмотрительнее и осторожнее мужчин.
            Зато мужчины значительно сильнее.</br>
            Выбор героя мужского поля дает <b>+1 к силе</b> и <b>-1 к мудрости</b> героя.</br>
            Выбор же героя женского пола дает <b>+1 к мудрости</b> и <b>-1 к силе</b> героя.
            <br>
            <p align="center">Выберите пол героя:</p>
        </div>
    </div>
    <div class="uk-grid">
        <div class="uk-width-1-1" align="center">
            <a src="#" onclick="setSex(1);"><img src="/img/races/mans.jpg"></a>
        </div>
    </div>
    <div class="uk-grid">
        <div class="uk-width-1-1" align="center">
            <a src="#" onclick="setSex(0);"><img src="/img/races/womans.jpg"></a>
        </div>
    </div>
</div>