<div class="uk-grid">
    <div class="uk-width-1-1">
        Как известно, женщины намного осмотрительнее и осторожнее мужчин.
        Зато мужчины значительно сильнее.</br>
        Выбор героя мужского поля дает <b>+1 к силе</b> и <b>-1 к мудрости</b> героя.</br>
        Выбор же героя женского пола дает <b>+1 к мудрости</b> и <b>-1 к силе</b> героя.
        <br>
        <p align="center">Выберите пол героя:</p>
    </div>
</div>
<div class="uk-grid">
    <div class="uk-width-1-2" align="center">
        <button class="uk-button uk-button-large" onclick="setSex('man');">Мужчина</button>
    </div>
    <div class="uk-width-1-2" align="center">
        <button class="uk-button uk-button-large" onclick="setSex('woman');">Женщина</button>
    </div>
</div>