Выбор расы

<div class="uk-margin" data-uk-slideshow>
    <div class="uk-slidenav-position">
        <ul class="uk-slideshow">
            <li>
                <img src="http://unsplash.it/1000/500" alt="">
                <div class="uk-caption uk-caption-panel uk-animation-fade uk-flex uk-flex-center uk-flex-middle uk-text-center">
                    <div>
                        <h3>Caption</h3>
                        <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr,<br>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                        <button class="uk-button uk-button-primary">Button</button>
                    </div>
                </div>
            </li>
            <li>
                <img src="http://unsplash.it/1000/502" alt="">
                <div class="uk-caption uk-caption-top uk-caption-panel uk-animation-slide-top">
                    <h3>Caption Top</h3>
                    <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                    <button class="uk-button uk-button-primary">Button</button>
                </div>
            </li>
            <li>
                <img src="http://unsplash.it/1000/503" alt="">
                <div class="uk-caption uk-caption-bottom uk-caption-panel uk-animation-slide-bottom">
                    <h3>Caption Bottom</h3>
                    <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                    <button class="uk-button uk-button-primary">Button</button>
                </div>
            </li>
            <li>
                <img src="http://unsplash.it/1000/504" alt="">
                <div class="uk-caption uk-caption-left uk-caption-panel uk-animation-slide-left uk-width-1-4">
                    <h3>Caption Left</h3>
                    <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                    <button class="uk-button uk-button-primary">Button</button>
                </div>
            </li>
            <li>
                <img src="http://unsplash.it/1000/505" alt="">
                <div class="uk-caption uk-caption-right uk-caption-panel uk-animation-slide-right uk-width-1-4">
                    <h3>Caption Right</h3>
                    <p>Lorem <a href="#">ipsum dolor</a> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                    <button class="uk-button uk-button-primary">Button</button>
                </div>
            </li>
        </ul>
        <a href="#" class="uk-slidenav uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
        <a href="#" class="uk-slidenav uk-slidenav-next" data-uk-slideshow-item="next"></a>
    </div>
</div>