<div class="uk-grid">
    <div class="uk-width-1-1">
        Выбираем расу
        <br>
        <p align="center">Выберите пол героя:</p>
    </div>
</div>
<div class="uk-grid">
    <div class="uk-width-1-2" align="center">
        <button class="uk-button uk-button-large" onclick="setSex('man');">Мужчина</button>
    </div>
    <div class="uk-width-1-2" align="center">
        <button class="uk-button uk-button-large" onclick="setSex('woman');">Женщина</button>
    </div>
</div>