<img src="/img/races/dwarv.jpg" alt="">
    <div>
        <h3>Гном</h3>
        <p>Гномы — коренастый народ. Гномы малословны, их мало заботит юмор.
            Они сильные и выносливые бойцы, недолюбливают магию.
            Их главная любовь - гномья сталь, золото и мифрил.
            Они ценят самоцветы, особенно алмазы.
            Гномы недолюбливают эльфов, и люто ненавидят орков и гоблинов.
            Гномы имеют <b>+1 к Телосложению</b> и <b>-1 к Обаянию</b>.</p>
        <button class="uk-button uk-button-primary">Выбрать</button>
    </div>


    <ul class="uk-dotnav uk-text-center">
        <li data-uk-slideshow-item="0"><a href="#" onclick="viewRace(0)">Item 1</a></li>
        <li data-uk-slideshow-item="1"><a href="#" onclick="viewRace(1)">Item 2</a></li>
        <li data-uk-slideshow-item="2"><a href="#" onclick="viewRace(2)">Item 3</a></li>
        <li data-uk-slideshow-item="3"><a href="#" onclick="viewRace(3)">Item 4</a></li>
        <li data-uk-slideshow-item="4"><a href="#" onclick="viewRace(4)">Item 5</a></li>
        <li data-uk-slideshow-item="5"><a href="#" onclick="viewRace(5)">Item 6</a></li>
        <li data-uk-slideshow-item="6"><a href="#" onclick="viewRace(6)">Item 7</a></li>
    </ul>