<img src="/img/races/demon.jpg" alt="">
    <div>
        <h3>Демон</h3>
        <p>Кто сильнее, тот и прав. Возможность совершить поступок является достаточным его оправданием.
            Покоряй и грабь слабых (не хочешь – не грабь), потакай себе во всём, покажи непонимающим истинную свободу.
            Власть должна принадлежать сильным. Главная ценность - личная свобода.
            Демон убивает просто потому, что может и хочет. В их обществе царит хаос и беспредел.
            Единственный общий принцип: слабый служит сильному.
            Демоны имеют <b>+1 к Обаянию</b> и <b>-1 к Мудрости</b>.</p>
        <button class="uk-button uk-button-primary">Выбрать</button>
    </div>


    <ul class="uk-dotnav uk-text-center">
        <li data-uk-slideshow-item="0"><a href="#" onclick="viewRace(0)">Item 1</a></li>
        <li data-uk-slideshow-item="1"><a href="#" onclick="viewRace(1)">Item 2</a></li>
        <li data-uk-slideshow-item="2"><a href="#" onclick="viewRace(2)">Item 3</a></li>
        <li data-uk-slideshow-item="3"><a href="#" onclick="viewRace(3)">Item 4</a></li>
        <li data-uk-slideshow-item="4"><a href="#" onclick="viewRace(4)">Item 5</a></li>
        <li data-uk-slideshow-item="5"><a href="#" onclick="viewRace(5)">Item 6</a></li>
        <li data-uk-slideshow-item="6"><a href="#" onclick="viewRace(6)">Item 7</a></li>
    </ul>