<img src="/img/races/orc.jpg" alt="">
    <div>
        <h3>Орк</h3>
        <p>Война наполняет каждый миг жизни орка.
            Когда он не в набеге на своих врагов, орк тренируются, изготавливает и восстанавливает оружие, сгорает от нетерпения в ожидании сражения.
            Луки и другое стреляющие оружие орки презирают. Но любят устраивать засады. Орки ненавидят прямой солнечный свет и
            не соблюдают "правила войны".
            Орки имеют <b>+1 к атаке ночью</b> и <b>-1 к атаке днём</b>.</p>
        <button class="uk-button uk-button-primary">Выбрать</button>
    </div>


    <ul class="uk-dotnav uk-text-center">
        <li data-uk-slideshow-item="0"><a href="#" onclick="viewRace(0)">Item 1</a></li>
        <li data-uk-slideshow-item="1"><a href="#" onclick="viewRace(1)">Item 2</a></li>
        <li data-uk-slideshow-item="2"><a href="#" onclick="viewRace(2)">Item 3</a></li>
        <li data-uk-slideshow-item="3"><a href="#" onclick="viewRace(3)">Item 4</a></li>
        <li data-uk-slideshow-item="4"><a href="#" onclick="viewRace(4)">Item 5</a></li>
        <li data-uk-slideshow-item="5"><a href="#" onclick="viewRace(5)">Item 6</a></li>
        <li data-uk-slideshow-item="6"><a href="#" onclick="viewRace(6)">Item 7</a></li>
    </ul>