<img src="/img/races/s-elf.jpg" alt="">
    <div>
        <h3>Эльф</h3>
        <p>Эльфы, несколько ниже и стройнее обычных людей. Хотя они и кажутся хрупкими
            и слабыми, представители этой расы проворны и сильны. Отличаются ксенофобией по отношению к другим расам.
            Эльфы имеют <b>+1 к Ловкости</b> и <b>-1 к Телосложению</b></p>
        <button class="uk-button uk-button-primary" onclick="pressbPodRace(1)">Выбрать</button>
    </div>

    <ul class="uk-dotnav uk-text-center">
        <li data-uk-slideshow-item="0"><a href="#" onclick="viewRace(0)">Item 1</a></li>
        <li data-uk-slideshow-item="1"><a href="#" onclick="viewRace(1)">Item 2</a></li>
        <li data-uk-slideshow-item="2"><a href="#" onclick="viewRace(2)">Item 3</a></li>
        <li data-uk-slideshow-item="3"><a href="#" onclick="viewRace(3)">Item 4</a></li>
        <li data-uk-slideshow-item="4"><a href="#" onclick="viewRace(4)">Item 5</a></li>
        <li data-uk-slideshow-item="5"><a href="#" onclick="viewRace(5)">Item 6</a></li>
        <li data-uk-slideshow-item="6"><a href="#" onclick="viewRace(6)">Item 7</a></li>
    </ul>