<img src="/img/races/lizard.jpg" alt="">
    <div>
        <h3>Ящер</h3>
        <p>Ящеры – полурептилии, полулюди, живущие в религиозно-военизированном обществе.
            Идеалы чистоты, простоты и гармонии находят отражение в их магии, военном искусстве и философии.
            Они сторонятся других рас, концентрируясь на самосовершенствовании, мало мечтая о власти и завоеваниях.
            Ящеры имеют <b>+1 к Интеллекту</b> и <b>-1 к Обаянию</b>.</p>
        <button class="uk-button uk-button-primary">Выбрать</button>
    </div>


    <ul class="uk-dotnav uk-text-center">
        <li data-uk-slideshow-item="0"><a href="#" onclick="viewRace(0)">Item 1</a></li>
        <li data-uk-slideshow-item="1"><a href="#" onclick="viewRace(1)">Item 2</a></li>
        <li data-uk-slideshow-item="2"><a href="#" onclick="viewRace(2)">Item 3</a></li>
        <li data-uk-slideshow-item="3"><a href="#" onclick="viewRace(3)">Item 4</a></li>
        <li data-uk-slideshow-item="4"><a href="#" onclick="viewRace(4)">Item 5</a></li>
        <li data-uk-slideshow-item="5"><a href="#" onclick="viewRace(5)">Item 6</a></li>
        <li data-uk-slideshow-item="6"><a href="#" onclick="viewRace(6)">Item 7</a></li>
    </ul>